@model bank_bills.ViewModels.AccountsViewModel

<div class="right floated thirteen wide computer sixteen wide phone column" id="content">
    <div class="ui container grid">
        <div class="row">
            <div class="fifteen wide computer sixteen wide phone centered column">
                <h2><i class="home icon"></i> RESUMEN DE CUENTAS</h2>
                <div class="ui divider"></div>
                <div class="ui grid">
                    <!-- BEGIN STATISTIC ITEM -->
                    <!-- Begin Page Views -->
                    @{
                        if (Model.NaturalPerson != null)
                        {
                            foreach (var account in Model.NaturalPerson.SavingAccounts)
                            {
                                <div class="eight wide computer sixteen wide phone centered column">
                                    <div class="ui secondary card">
                                        <div class="content">
                                            <div class="header">Cuenta de Ahorro</div>
                                            <div class="center floated meta">Created at: @account.CreationDate</div>
                                            <i class="ui avatar icon"></i>
                                            <p>
                                                Titular: @Model.NaturalPerson.Name @Model.NaturalPerson.SecondName
                                            </p>
                                        </div>
                                        <div class="simpleimage itemcolor1 image">
                                            <i class="hand holding usd massive icon "></i>
                                        </div>
                                        <div class="content">
                                            <span class="right floated">
                                                <i class="dollar bill icon"></i>
                                                Saldo: @account.Amount
                                            </span>
                                            <i class="dollar bill icon"></i>
                                            Moneda: @account.CurrencyType
                                        </div>
                                    </div>
                                </div>
                            }

                            foreach (var account in Model.NaturalPerson.CheckingAccounts)
                            {
                                <div class="eight wide computer sixteen wide phone centered column">
                                    <div class="ui primary card">
                                        <div class="content">
                                        <div class="header">Cuenta Regular</div>
                                            <div class="center floated meta">Created at: @account.CreationDate</div>
                                            <i class="ui avatar icon"></i>
                                            <p>
                                                Titular: @Model.NaturalPerson.Name @Model.NaturalPerson.SecondName
                                            </p>
                                        </div>
                                        <div class="simpleimage itemcolor1 image">
                                            <i class="dollar bill massive icon "></i>
                                        </div>
                                        <div class="content">
                                            <span class="right floated">
                                                <i class="dollar bill icon"></i>
                                                Saldo: @account.Amount
                                            </span>
                                            <i class="dollar bill icon"></i>
                                            Moneda: @account.CurrencyType
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        if (Model.JuridicPerson != null)
                        {
                            foreach (var account in Model.JuridicPerson.SavingAccounts)
                            {
                                <div class="eight wide computer sixteen wide phone centered column">
                                    <div class="ui secondary card">
                                        <div class="content">
                                            <div class="header">Cuenta de Ahorro</div>
                                            <div class="center floated meta">Created at: @account.CreationDate</div>
                                            <i class="ui avatar icon"></i>
                                            <p>
                                                Titular: @Model.JuridicPerson.Name @Model.JuridicPerson.SecondName
                                            </p>
                                        </div>
                                        <div class="simpleimage itemcolor1 image">
                                            <i class="hand holding usd massive icon "></i>
                                        </div>
                                        <div class="content">
                                            <span class="right floated">
                                                <i class="dollar bill icon"></i>
                                                Saldo: @account.Amount
                                            </span>
                                            <i class="dollar bill icon"></i>
                                            Moneda: @account.CurrencyType
                                        </div>
                                    </div>
                                </div>
                            }
                            foreach (var account in Model.JuridicPerson.CheckingAccounts)
                            {
                                <div class="eight wide computer sixteen wide phone centered column">
                                    <div class="ui primary card">
                                        <div class="content">
                                        <div class="header">Cuenta Regular</div>
                                            <div class="center floated meta">Created at: @account.CreationDate</div>
                                            <i class="ui avatar icon"></i>
                                            <p>
                                                Titular: @Model.JuridicPerson.Name @Model.JuridicPerson.SecondName
                                            </p>
                                        </div>
                                        <div class="simpleimage itemcolor1 image">
                                            <i class="dollar bill massive icon "></i>
                                        </div>
                                        <div class="content">
                                            <span class="right floated">
                                                <i class="dollar bill icon"></i>
                                                Saldo: @account.Amount
                                            </span>
                                            <i class="dollar bill icon"></i>
                                            Moneda: @account.CurrencyType
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>