@model bank_bills.ViewModels.MovementsViewModel

<div class="right floated thirteen wide computer sixteen wide phone column" id="content">
    <div class="ui container grid">
        <div class="row">
            <div class="fifteen wide computer sixteen wide phone centered column">
                <h2><i class="table icon"></i>REGISTRO DE MOVIMIENTOS</h2>
                <div class="ui divider"></div>
                <div class="ui grid">
                    <div class="sixteen wide computer sixteen wide phone centered column">
                        <h4></h4>
                        <!-- BEGIN DATATABLE -->
                        <div class="ui stacked segment">
                            <div class="ui blue ribbon icon label">REGISTRO DE MOVIMIENTOS</div>
                            <br><br>
                            <table id="example" class="ui celled table responsive nowrap unstackable"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>ID transacción</th>
                                    <th>Tipo</th>
                                    <th>Fecha y Hora</th>
                                    <th>Moneda</th>
                                    <th>Cantidad</th>
                                    <th>Balance Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                @foreach (var certificate in Model.DepositCertificates)
                                {
                                    <tr class="positive">
                                        <td>@certificate.Id</td>
                                        <td>Crédito</td>
                                        <td>@certificate.DateHour</td>
                                        <td>@certificate.Currency</td>
                                        <td> + @certificate.Amount</td>
                                        <td>@certificate.Balance</td>
                                    </tr>
                                }
                                @foreach (var certificate in Model.WithdrawalCertificates)
                                {
                                    <tr class="negative">
                                        <td>@certificate.Id</td>
                                        <td>Débito</td>
                                        <td>@certificate.DateHour</td>
                                        <td>@certificate.Currency</td>
                                        <td> - @certificate.Amount</td>
                                        <td>@certificate.Balance</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            @* <button class="ui button" id="print">Imprimir</button> *@
                        </div>
                        <!-- END DATATABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>